<h1>Data</h1>
<table>
<% @parsed_file.each do |datum| %>
  <tr>
    <td><%= datum[0] %></td>
    <td><%= datum[1] %></td>
    <td><%= datum[2] %></td>
    <td><%= split_ext(normalize_phone(datum[3])) %></td>
    <td><%= datum[4] %></td>
  </tr>
<%end%>
<table>
<% @normal.each do |key, value| %>
  <tr>
    <td><%= key %></td>
    <td><%= value %></td>
  </tr>
<% end %>
</table>
</table>